<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Albums - AudioJAKH</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<nav>
    <a th:href="@{/posts}">Posts</a>
    <a th:href="@{/albums}">Albums</a>
    <a th:href="@{/songs}">Songs</a>
</nav>

<div sec:authorize="isAuthenticated()" id="greeting">
    Signed in as <span sec:authentication="principal.attributes['email']"></span>
</div>

<h1>Albums</h1>

<ul class="albums-list">
    <li th:each="album : ${albums}" class="album-card">
        <a th:href="@{/albums/{id}(id=${album.spotifyId})}" th:text="${album.name}">Album name</a>
    </li>
</ul>

</body>
</html>
