<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{head :: head('AudioJAKH - Discover Music')}"></head>

<body class="bg-canvas">
<div th:replace="~{navbar :: navbar}"></div>


<div sec:authorize="isAuthenticated()" id="greeting">
    Signed in as <span sec:authentication="principal.attributes['email']"></span>
</div>

<h1>Albums</h1>

<ul class="albums-list">
    <li th:each="album : ${albums}" class="album-card">
        <a th:href="@{/albums/{id}(id=${album.id})}" th:text="${album.name}">Album name</a>
    </li>
</ul>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>
