<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{head :: head('AudioJAKH - Discover Music')}"></head>

<body>
<div th:replace="~{navbar :: navbar}"></div>


<div sec:authorize="isAuthenticated()" id="greeting">
    Signed in as <span sec:authentication="principal.attributes['email']"></span>
</div>

<h1>Songs</h1>

<ul class="songs-list">
    <li th:each="track : ${tracks}" class="song-card">
        <a th:href="@{/songs/{id}(id=${track.spotifyId})}" th:text="${track.name}">Song name</a>
    </li>
</ul>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>